<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ef46582-8942-4f49-864f-8e67110561ba" Alias="Member - Zip code - Numeric" Level="1">
  <Info>
    <Name>Member - Zip code - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>