<?xml version="1.0" encoding="utf-8"?>

<configuration>
    
    <appSettings>
        
    </appSettings>
    <connectionStrings>
        <remove name="umbracoDbDSN" />
        <add name="umbracoDbDSN" connectionString="server=LAPTOP-FI75RNBC;database=umbraco-cms;user id=umbraco-database-user;password='umbraco-cms'" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>